{% extends 'base.html' %}

{% set title = 'Receive Reagents' %}

{% block content %}
    <div id="v-add">
        {% include 'components/hero.html' %}
        <add-reagent-form :templates="templates" :manufacturers="manufacturers" :lots="lots"></add-reagent-form>
    </div>
{% endblock %}

{% block variables %}
<script>
    const data = {
        templates: JSON.parse('{{ templates | tojson }}'),
        manufacturers: JSON.parse('{{ manufacturers | tojson }}'),
        lots: JSON.parse('{{ lots | tojson }}'),
    }
</script>
{% endblock variables %}

{% block vue %}
    <script src="{{ url_for('static', filename='js/components/add-reagent-form.js') }}"></script>
{% endblock vue %}