<!DOCTYPE html>
<html>

<head>
    <title>{{ title }} | QC Reagent Portal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link href="{{ url_for('static', filename='css/main.scss.css') }}" rel="stylesheet" type="text/css">
</head>

<body>

<nav class="navbar is-success">
    <div class="columns is-mobile is-vcentered">
        <div class="column is-narrow navbar-brand">
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('main.dashboard') }}" class="navbar-item">
            {% else %}
                <a href="{{ url_for('main.index') }}" class="navbar-item">
            {% endif %}
                <figure class="image is-32x32">
                    <img src="{{ url_for('static', filename='images/agc-logo.png') }}"
                         alt="AGC Biologics Logo">
                </figure>
            </a>
        </div>
        <div class="column is-hidden-mobile"></div>
        <div class="column is-narrow is-flex has-background-success">
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('main.dashboard') }}" class="navbar-item has-text-light">
                    Dashboard
                </a>
            {% endif %}
            <a href="{{ url_for('main.add_reagent') }}" class="navbar-item has-text-light">
                Receive
            </a>
            {% if not current_user.is_authenticated %}
                <a href="{{ url_for('auth.login') }}" class="navbar-item has-text-light">
                    Login
                </a>
            {% endif %}
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('auth.logout') }}" class="navbar-item has-text-light">
                    Log Out
                </a>
            {% endif %}
        </div>
    </div>
</nav>
</div>
<section class="hero is-success">
    <div class="hero-body">
        <h1 class="title">{{ title }}</h1>
    </div>
</section>
<section>
    <div class="container has-text-centered">
        {% block content %}{% endblock content %}
    </div>
</section>

<script type="text/javascript" src="{{ url_for('static', filename='js/vue.js') }}"></script>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', () => {
        const burger = document.getElementById('navBurger');
        burger.addEventListener('click', () => {
            const target = document.getElementById(burger.dataset.target);
            burger.classList.toggle('is-active');
            target.classList.toggle('is-active');
        })
    })
</script>

{% block variables %}{% endblock variables %}
{% block scripts %}{% endblock scripts %}

</body>

</html>