{% extends 'base.html' %}

{% block content %}
    <div id="v-dash" class="container">
        <div>
            <h1 class="title">Hello {{ given_name }}!</h1>
        </div>
        <div class="columns">
            <div class="column">
                <div id="plot1"></div>
            </div>
            <div class="column">
                <div id="plot2"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/plotly.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
{% endblock scripts %}