<!DOCTYPE html>
<html>
<head>
    {% block title %}{% endblock title %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link href="{{ url_for('static', filename='css/main.scss.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
    {% block content %}{% endblock content %}

    <script src="{{ url_for('static', filename='js/vue.js') }}"></script>
    {% block variables %}{% enblock variables %}
    {% block components %}{% endblock components %}
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>